.ghe{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    background-color: rgb(123,122,122);
    color: #fff;
  }
  .gheDaDat{
    background-color: rgb(76, 125, 232);
    cursor: no-drop;
  }
  .gheDangDat {
    background-color: rgb(18,176,18) !important;
  }
  .gheVip{
    background-color: rgb(228,74,8);
  }
  .gheDaDuocDat{
    background-color: pink;
    color: black;
  }
  .gheKhachDat{
    background-color: aquamarine !important;
    cursor: no-drop;
  }